<!--<app-header></app-header>-->
<!-- Breadcrumb Area Start -->
<section
  class="breadcrumb-area bg-img bg-gradient-overlay jarallax"
  style="background-image: url(../assets/img/bg-img/27.jpg);"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content">
          <h2 class="page-title">Contact</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->

<section class="contact-our-area section-padding-100-0">
    <div class="container">
        
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-information mb-100">
                    <!-- Single Contact Info -->
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4>VOLUNTEERS</h4>
                    </div>
                    
                    <img src="../../assets/img/contact/vol.jpg" alt="Volunteer">

                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Every Year We Look For Hard Working, Capable Volunteers Who Will Help To Ensure The Smooth Running Of The Festival. We Welcome Applications For Work For A Minimum Of 10 Days Around The Festival, Which Will Include A Full Training Schedule. In Return For Volunteering At The Festival We Offer Accommodation, Meals, Our Sincerest Thank You And An Experience That You Will Never Forget!

                            If You Are Interested In Being A Part Of The FGLF 2019 Team, Please Email Our Volunteer Coordinator Your CV And/Or Up To 200 Words On How You Think You May Be Able To Help.
                            
                         </p>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Email:</p>
                        <h6>Volunteer.glf@gmail.com</h6>
                    </div>
                </div> 
            </div>
            <img width="5" height="300" src="../../assets/img/contact/vl.png" alt="">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-information mb-100">
                    <!-- Single Contact Info -->
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4>BENEFACTORS</h4>
                    </div>
                    
                    

                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        
                        <p>Support the Fairway Galle Literary Festival! 

                            Like many festivals of its kind, the Fairway Galle Literary Festival (FGLF) is delivered by a small team of dedicated individuals and returns year-after-year only by the grace of generous sponsors and contributors. We are always on the lookout for new supporters to add to our growing FGLF family. There are a number of ways to support the festival – whether in cash, kind or air miles – through new schemes launched for benefactors to the festival.
                            
                            We welcome your participation. To find out more about how you can help, please contact our Festival Manager 
                         </p>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Email:</p>
                        <h6>fm@galleliteraryfestival.com</h6>
                    </div>
                </div>
            </div>
            <img width="5" height="300" src="../../assets/img/contact/vl.png" alt="">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="contact-information mb-100">
                    <!-- Single Contact Info -->
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4>GENERAL</h4>
                    </div>
                    
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        
                        <p>For any questions regarding Fairway Galle Literary Festival please contact us at:

                        </p>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Email:</p>
                        <h6>INFO@GALLELITERARYFESTIVAL.COM</h6>
                    </div>
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Phone:</p>
                        <h6>+94 (77) 350 7053</h6>

                    </div>
                    <img width="80" height="60" src="../../assets/img/contact/contact.jpg" alt="">

                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <h4>PRESS</h4>
                    </div>
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>For all media related inquiries, please contact our Media Coordinator, Saluka Kotagama at:
                        </p>
                    </div>
                    <!-- Single Contact Info -->
                    <div class="single-contact-info wow fadeInUp" data-wow-delay="300ms">
                        <p>Email:</p>
                        <h6> MEDIACOORDINATOR.GLF@GMAIL.COM</h6>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="row">     
            <!-- Heading -->
            <div class="col-12">
                <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                    <p>Have Question?</p>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>
<app-footer></app-footer>