
  <div
    class="single-ticket-pricing-table style-2 text-center mb-100 wow fadeInUp"
    data-wow-delay="300ms"
  >
    <h6 class="ticket-plan">{{event.name}}</h6>
    <!-- Ticket Icon -->
    <div class="ticket-icon">
      <img src="img/core-img/p1.png" alt="" />
    </div>
    <h2 class="ticket-price"><span>$</span>{{event.price}}</h2>
    <a href="#" class="btn confer-btn w-100 mb-30"
      >Get Tickets <i class="zmdi zmdi-long-arrow-right"></i
    ></a>
    <!-- Ticket Pricing Table Details -->
    <div class="ticket-pricing-table-details">
      <p><i class="zmdi zmdi-check"></i> One Day Conference Ticket</p>
      <p><i class="zmdi zmdi-check"></i> Coffee-break</p>
      <p><i class="zmdi zmdi-check"></i> Lunch and Networking</p>
      <p><i class="zmdi zmdi-check"></i> Keynote talk</p>
      <p><i class="zmdi zmdi-check"></i> Talk to the Editors Session</p>
    </div>
  </div>
