<div
        class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                    data-wow-delay="300ms">
                    <!-- Single Schedule Thumb and Info -->
                    <div class="single-schedule-tumb-info d-flex align-items-center">
                      <!-- Single Schedule Thumb -->
                      <div class="single-schedule-tumb">
                        <img src="../assets/img/bg-img/8.jpg" alt="">
                      </div>
                      <!-- Single Schedule Info -->
                      <div class="single-schedule-info">
                        <h6>{{speaker.fname}} {{speaker.lname}}</h6>
                      </div>
                    </div>
                    <!-- Single Schedule Info -->
                    <div class="schedule-time-place">

                      <p> {{speaker.des}}</p>
                    </div>

                  </div>
