<div
                    class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
                    data-wow-delay="300ms">
                    <!-- Single Schedule Thumb and Info -->
                    <div class="single-schedule-tumb-info d-flex align-items-center">
                      <!-- Single Schedule Thumb -->
                      <div class="single-schedule-tumb">
                        <img src="../assets/img/bg-img/11.jpg" alt="">
                      </div>
                      <!-- Single Schedule Info -->
                      <div class="single-schedule-info">
                        <h6>{{event.name}}</h6>
                        <p>by <span>Kafkas Metamorphoses</span></p>
                      </div>
                    </div>
                    <!-- Single Schedule Info -->
                    <div class="schedule-time-place">
                      <p><i class="zmdi zmdi-time"></i> 12-14 Jan 2019</p>
                      <p><i class="zmdi zmdi-map"></i> Governors's Mansion</p>
                    </div>
                    <!-- Schedule Btn -->
                    <a href="#" class="btn confer-btn">View More <i class="zmdi zmdi-long-arrow-right"></i></a>
                  </div>