<div class="single-schedule-area single-page d-flex flex-wrap justify-content-between align-items-center wow fadeInUp"
  data-wow-delay="300ms">
  <!-- Single Schedule Thumb and Info -->
  <div class="single-schedule-tumb-info d-flex align-items-center">
    <!-- Single Schedule Thumb -->
    <div class="single-schedule-tumb">
      <img src="../assets/img/bg-img/61.jpg" alt="">
    </div>
    <!-- Single Schedule Info -->
    <div class="single-schedule-info">
      <h6>{{event.name}}</h6>
      <p>by <span>{{event.author}}</span></p>
    </div>
  </div>
  <!-- Single Schedule Info -->
  <div class="schedule-time-place">
    <p><i class="zmdi zmdi-time"></i> {{event.date}} at {{event.time}}</p>
    <p><i class="zmdi zmdi-home"></i> {{event.venue}}</p>
  </div>
  <!-- Schedule Btn -->
  <a  class="btn confer-btn">VIEW MORE <i class="zmdi zmdi-long-arrow-right"></i></a>
</div>