<!-- Header Area Start -->
<!-- <app-header></app-header> -->
<!-- Header Area End -->

<!-- Breadcrumb Area Start -->
<section
  class="breadcrumb-area bg-img bg-gradient-overlay jarallax"
  style="background-image: url(../assets/img/bg-img/17.jpg);"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcrumb-content">
          <h2 class="page-title">Account</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Account
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Our Schedule Area Start -->
<section class="our-schedule-area bg-white section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Congratulations!</h1>
        <br />
        <h4>
          order is placed.<br />
          Go to
          <a href="https://play.google.com/store"
            >https://play.google.com/store</a
          >
          and download the mobile app to redeem your tickets
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- Our Schedule Area End -->

<!-- Footer Area Start -->
<app-footer></app-footer>
<!-- Footer Area End -->
